/*! CSS Used from: https://fedora.teachablecdn.com/assets/bootstrap-31ff648fd5e6158c77c31e785844877b6666554feab422e57ca5a96aa5587b9e.css ; media=screen */
@media screen{
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
footer,header,main,section{display:block;}
a{background:0 0;}
a:active,a:hover{outline:0;}
strong{font-weight:700;}
h1{margin:.67em 0;font-size:2em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
button,input,select{margin:0;font:inherit;color:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,input[type=submit]{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox]{box-sizing:border-box;padding:0;}
@media print{
*{color:#000!important;text-shadow:none!important;background:transparent!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
img{page-break-inside:avoid;}
img{max-width:100%!important;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
select{background:#fff!important;}
.navbar{display:none;}
}
*{box-sizing:border-box;}
:before,:after{box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff;}
input,button,select{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#428bca;text-decoration:none;}
a:hover,a:focus{color:#2a6496;text-decoration:underline;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
.sr-only{position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0, 0, 0, 0);border:0;}
h1,h2,h3{font-family:inherit;font-weight:500;line-height:1.1;color:inherit;}
h1,h2,h3{margin-top:20px;margin-bottom:10px;}
h1{font-size:36px;}
h2{font-size:30px;}
h3{font-size:24px;}
p{margin:0 0 10px;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-muted{color:#777;}
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
@media (min-width: 768px){
.container{width:750px;}
}
@media (min-width: 992px){
.container{width:970px;}
}
@media (min-width: 1200px){
.container{width:1170px;}
}
.row{margin-right:-15px;margin-left:-15px;}
.col-sm-4,.col-md-4,.col-sm-6,.col-xs-12,.col-sm-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width: 768px){
.col-sm-4,.col-sm-6,.col-sm-12{float:left;}
.col-sm-12{width:100%;}
.col-sm-6{width:50%;}
.col-sm-4{width:33.33333333%;}
}
@media (min-width: 992px){
.col-md-4{float:left;}
.col-md-4{width:33.33333333%;}
}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
input[type=checkbox]{margin:4px 0 0;margin-top:1px \9;line-height:normal;}
input[type=checkbox]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.form-group{margin-bottom:15px;}
@media (min-width: 768px){
.form-inline .control-label{margin-bottom:0;vertical-align:middle;}
}
.btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px;}
.btn:focus,.btn:active:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:#333;text-decoration:none;}
.btn:active{background-image:none;outline:0;box-shadow:inset 0 3px 5px rgba(0,0,0,0.125);}
.btn-primary{color:#fff;background-color:#428bca;border-color:#357ebd;}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{color:#fff;background-color:#3071a9;border-color:#285e8e;}
.btn-primary:active{background-image:none;}
.dropdown{position:relative;}
.navbar{position:relative;min-height:50px;margin-bottom:20px;border:1px solid transparent;}
@media (min-width: 768px){
.navbar{border-radius:4px;}
}
@media (min-width: 768px){
.navbar-header{float:left;}
}
.container>.navbar-header{margin-right:-15px;margin-left:-15px;}
@media (min-width: 768px){
.container>.navbar-header{margin-right:0;margin-left:0;}
}
.navbar-fixed-top{position:fixed;right:0;left:0;z-index:1030;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
@media (min-width: 768px){
.navbar-fixed-top{border-radius:0;}
}
.navbar-fixed-top{top:0;border-width:0 0 1px;}
.navbar-brand{float:left;height:50px;padding:15px 15px;font-size:18px;line-height:20px;}
.navbar-brand:hover,.navbar-brand:focus{text-decoration:none;}
@media (min-width: 768px){
.navbar>.container .navbar-brand{margin-left:-15px;}
}
.alert{padding:15px;margin-bottom:20px;border:1px solid transparent;border-radius:4px;}
.alert>p{margin-bottom:0;}
.alert>p+p{margin-top:5px;}
.alert-warning{color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;}
.container:before,.container:after,.row:before,.row:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after{display:table;content:" ";}
.container:after,.row:after,.navbar:after,.navbar-header:after{clear:both;}
.hidden{display:none!important;visibility:hidden!important;}
}
/*! CSS Used from: https://themes2.teachablecdn.com/themecss/production/base.css?_=0e34779b46fb&brand_course_heading=%23ffffff&brand_heading=%232b3636&brand_homepage_heading=%23ffffff&brand_navbar_fixed_text=%23ffffff&brand_navbar_text=%23ffffff&brand_primary=%23000000&brand_secondary=%2339719a&brand_text=%232b3636&logged_out_homepage_background_image_overlay=0.84&logged_out_homepage_background_image_url=https%3A%2F%2Fd2vvqscadf4c1f.cloudfront.net%2Fb7yh7DKMSKeGh9UPYbDI_CardSpring.jpg */
.btn-primary,.btn-primary:active,.btn-primary:focus{background:#39719a!important;border:1px solid #39719a!important;font-weight:600!important;outline:none!important;color:#fff;border-radius:20px;padding:3px 18px!important;}
.btn-primary:hover,.btn-primary:active:hover,.btn-primary:focus:hover{outline:none!important;text-decoration:none;background:#326387!important;border:1px solid #326387!important;color:#fff;}
@media screen and (max-width: 767px){
.btn-primary,.btn-primary:active,.btn-primary:focus{font-size:15px;}
}
.alert{font-weight:600;}
html{min-height:100%;position:relative;}
body{background-image:none;background-size:none;background:none;font-family:"Proxima";margin:0!important;color:#2b3636;}
a{color:#39719a;}
a:hover,a:active{color:#1d3a50;}
a,a:active,a:hover,a:focus{text-decoration:none;}
p{font-size:18px;font-weight:200;line-height:28px;}
h1,h2,h3{color:#2b3636;}
h3{line-height:33px;}
.view-school{margin-top:60px;}
.navbar-fedora{background-color:#000;position:absolute;margin-bottom:0px;top:0px;transition:none;}
.navbar-fedora .navbar-header{height:60px;width:100%;}
.navbar-fedora .navbar-brand{font-weight:normal;color:#fff;font-size:30px;line-height:30px;height:60px;}
.navbar-fedora .navbar-brand.header-logo{max-width:250px;padding-top:0px;padding-bottom:0px;}
.navbar-fedora .navbar-brand.header-logo img{height:100%;}
@media screen and (max-width: 767px){
.navbar-fedora .navbar-brand{font-size:18px;}
}
@media screen and (max-width: 480px){
.navbar-fedora{min-height:60px;}
}
footer{bottom:0;width:100%;background-color:#000;position:absolute;color:#bac1c7;padding:39px 0 42px;}
footer .footer-column{text-align:center;}
@media screen and (max-width: 767px){
.footer-column{margin-bottom:20px;}
}
.content-box{background:#fff;border-radius:6px;box-shadow:0 10px 21px #e7eeef;padding-left:0px;padding:30px 45px;position:relative;text-align:left;width:100%;margin-bottom:70px;}
.content-box .form-group{margin-bottom:20px;}
.content-box p{display:block;line-height:21px;font-size:12px;color:#909090;letter-spacing:0.45px;padding-bottom:12px;}
.content-box .alert{font-size:13px;font-weight:600;border-radius:4px;letter-spacing:0.1px;margin-bottom:30px;border:0px;padding-bottom:13px;}
.content-box .alert p{font-size:12px;font-weight:600;line-height:17px;margin-bottom:-10px;}
.content-box label{color:#47505e;font-size:13px;font-weight:500;line-height:29px;letter-spacing:0.61px;}
@media screen and (max-width: 767px){
.content-box{border:0;border-radius:0;box-shadow:none;width:calc(100% + 40px);margin:0 0 0 -20px;}
}
.spc{background:#f5f6f7;color:#363e48;font-weight:600;padding-bottom:220px;padding-top:0;transition:opacity 300ms ease;}
.spc__log-out{float:right;margin-top:3px;}
.spc__description{color:#b0b0b0;font-size:12px;margin-top:10px;text-align:center;}
.spc__check{background-image:url("//assets.teachablecdn.com/icons/icon-check-green.svg");background-size:cover;display:inline-block;height:25px;vertical-align:middle;width:25px;}
.spc__new-device .spc__new-device-header{margin-bottom:10px;}
.spc__new-device .spc__new-device-body:not(.meta){margin-left:35px;}
.spc__x{display:inline-block;height:25px;vertical-align:middle;width:25px;}
.spc__x svg{height:100%;width:100%;}
.spc__authenticated{font-size:13px;font-weight:400;margin-top:5px;}
.spc__authenticated .spc__check{margin-right:5px;}
.spc__authenticated [data-checkout-authentication-email]{font-weight:700;}
.spc__secure{margin-bottom:24px;margin-top:-4px;}
.spc__secure-text{opacity:0.5;font-size:12px;letter-spacing:1px;margin-left:6px;}
.spc .control-label{margin-bottom:10px;}
.spc__primary-submit{margin:0 auto 20px;position:relative;text-align:center;width:300px;}
.spc__primary-submit label{cursor:pointer;height:100%;display:block;left:0;position:absolute;top:0;width:100%;z-index:1;}
.spc__inner{padding-top:40px;}
.spc .section-hed{font-size:17px;font-weight:700;letter-spacing:0.65;margin-bottom:22px;margin-top:0;}
.spc--text-light{opacity:0.6;}
.spc__section{margin-bottom:50px;}
.spc__section--review .spc__box{padding-top:34px;}
.spc__section--review .spc__summary-item{margin-bottom:20px;}
.spc__section--review .spc__inline-form{margin-bottom:25px;}
.spc__section--review .spc__row{border-bottom:1px solid #f5f6f7;margin-bottom:25px;}
.spc__section--review .spc__row--total{border-bottom:0;margin-bottom:0;}
.spc__section--review .spc__row--total .spc__summary-item{margin:0;}
.spc__section--account p:not(.meta){margin:0;padding:0;}
.spc__section--account .spc__box{padding-bottom:35px;padding-top:25px;}
.spc__section--account .spc__inline-form{margin-bottom:16px;}
.spc__section--account .spc__inline-form-last{margin-top:16px;margin-bottom:0px;}
.spc__section--terms{margin-top:30px;}
.spc__section--terms label{font-size:13px;font-weight:500;}
.spc__primary-submit{display:block; cursor: pointer;}
.spc__primary-submit button{border-radius:30px;height:7%;padding:0 30px!important;position:relative;}
.spc__primary-submit button:active,.spc__primary-submit button:hover,.spc__primary-submit button:focus{padding:0 30px!important;}
.spc__primary-submit button::before{content:'';}
.spc__primary-submit button .loader{opacity:0;}
.spc__primary-submit button{display:block!important;margin:50px auto 0;}
.spc__box{margin-bottom:20px;margin-top:10px;padding-bottom:30px;padding-top:30px;}
.spc__row--total .spc__summary-item{margin-top:15px;text-transform:uppercase;width:100px!important;}
.spc__row--total .spc__summary-item.text-right{width:calc(100% - 100px)!important;}
.spc__row--total .spc__summary-item.text-right span{display:inline-block;vertical-align:middle;}
.spc__row--total .spc__summary-item.text-right [data-checkout-price]{font-size:30px;}
.spc__row--total .spc__summary-item.text-right .meta{opacity:0.7;padding-right:20px;}
.spc__update{border:1px solid #f26522;border-radius:3px;padding:30px;}
.spc__update,.spc__password{margin-left:calc(-3px);margin-right:calc(-3px);width:calc(100% + 6px);background-color:#fff5f1;margin-bottom:0!important;margin-top:20px;}
.spc__update .spc__update-subtitle,.spc__password .spc__password-subtitle{color:#f26522;}
.spc__password p.text-muted{font-weight:400;}
.spc__password form{margin:15px 0;width:calc(100% - 15px);}
.spc__password p{margin:5px 0!important;}
.spc__authentication-error{box-sizing:content-box;display:none!important;line-height:29px!important;min-height:29px!important;margin-bottom:-5px;margin-top:10px;opacity:0;padding-left:15px;padding-right:15px;padding-top:2px;padding-bottom:2px!important;pointer-events:none;transition:opacity 300ms ease;will-change:opacity;margin-left:calc(-3px);}
.spc__inline-form-inner{position:relative;}
.spc__inline-form-error{color:red;margin-bottom:-10px;padding:10px 0 0;}
.spc__inline-form-input{font-size:13px;font-weight:500;letter-spacing:0.6px;background:#fff;border:1px solid #cdd6df;border-radius:4px;color:black;height:40px;padding:0 17px;width:100%;margin-left:calc(-3px);margin-right:calc(-3px);width:calc(100% + 6px);}
.spc__inline-form-success{background-image:url("//assets.teachablecdn.com/icons/icon-check-green.svg");background-size:cover;height:20px;margin-top:-10px;opacity:0;pointer-events:none;position:absolute;right:5px;top:50%;width:20px;}
.spc__inline-form-button{height:100%;height:calc(100% + 1px);margin-right:-20px;position:absolute;right:0;top:0;transition:opacity 500ms ease;will-change:opacity;}
.spc__inline-form-button button{border-radius:30px;height:100%;padding:0 30px!important;position:relative;}
.spc__inline-form-button button:active,.spc__inline-form-button button:hover,.spc__inline-form-button button:focus{padding:0 30px!important;}
.spc__inline-form-button button::before{content:'';}
.spc__inline-form-button button .loader{opacity:0;}
.spc__inline-form-button.is-hidden{display:none;opacity:0;pointer-events:none;}
.spc__summary{align-items:center;display:flex;}
.spc__summary-item{vertical-align:middle;}
.spc__summary-item.mono{letter-spacing:0.65px;}
.spc__summary-item:nth-child(2){padding-left:20px;}
.spc__summary-item:nth-child(1)+.spc__summary-item:nth-last-child(2){width:calc(100% - 150px);}
.spc__summary-item:nth-child(1):nth-last-child(2){width:calc(100% - 100px);}
.spc__summary-item:nth-last-child(1){width:150px;}
.spc .payment-error-box{border-radius:4px;border:1px solid #ecbab1;color:#d4604b;font-size:12px;font-weight:600;line-height:20px;background-color:#fdf7f6;padding:16px;margin-bottom:24px;display:flex;}
.spc .payment-error-box i{padding-top:2px;font-size:16px;padding-right:16px;}
.spc__dropdown{color:#555;font-size:13px;font-weight:500;line-height:29px;letter-spacing:0.61px;border-radius:6px;padding:32px 45px;background:#fff;margin-bottom:-12px;position:relative;width:100%;z-index:1;}
@media (max-width: 767px){
.spc__dropdown{margin-left:-20px;margin-right:-20px;width:calc(100% + 40px);}
}
.spc__dropdown-view{display:none;}
.spc__dropdown-view.is-active{display:block;}
.spc__dropdown-view .content-box{margin-top:0;}
.spc__custom_dropdown .dropbtn{font-size:16px;cursor:pointer;border-radius:4px;}
.spc__custom_dropdown .option{height:50px;}
.spc__custom_dropdown .option-text{padding-left:10px;}
.spc__custom_dropdown .icon{width:20px;}
.spc__custom_dropdown .dropdown-content{display:none;position:absolute;background-color:#fff;min-width:160px;box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);z-index:1;width:100%;}
.spc__custom_dropdown .dropdown-content a{color:black;padding:12px 18px;text-decoration:none;display:block;}
.spc__custom_dropdown .dropdown-content a:hover{background-color:#f5f6f7;}
.spc__custom_dropdown button.minimal{border:1px solid #cdd6df;background-color:#fff;display:block;width:100%;height:40px;text-align:left;}
.spc__custom_dropdown button.minimal a{color:#000;font-size:13px;font-weight:500;line-height:29px;letter-spacing:0.61px;display:block;position:absolute;left:16px;top:7px;height:0px;}
.spc__custom_dropdown.arrow-down button{border:1px solid #cdd6df;background-color:#fff;background-image:linear-gradient(45deg, transparent 50%, gray 50%),linear-gradient(135deg, gray 50%, transparent 50%);background-position:calc(100% - 20px) calc(1em + 2px),calc(100% - 15px) calc(1em + 2px),calc(100% - 2.5em) 0.5em;background-size:5px 5px, 5px 5px, 1px 1.5em;background-repeat:no-repeat;}
.spc__button.is-disabled{cursor:not-allowed;opacity:0.5;pointer-events:none;}
.spc__price--button{border-left:1px solid rgba(255,255,255,0.3);display:inline-block;margin-left:20px;opacity:0.5;padding-bottom:12px;padding-left:20px;padding-top:12px;}
.spc__course-image{height:50px;overflow:hidden;width:50px;align-items:center;display:flex;justify-content:center;}
.spc__course-image img{max-height:100%;max-width:100%;}
.spc__confirm{padding-top:40px;}
.spc__checkbox input{display:inline-block;vertical-align:baseline;margin-right:8px;line-height:29px;}
.spc__checkbox span{display:inline-block;vertical-align:top;}
.spc__terms-text{text-align:center;font-weight:normal;width:100%;}
.spc__terms-text label{display:flex;justify-content:center;}
.spc__promotional-email-label{display:flex;}
.spc__mobile_pay p{color:#737c84;font-weight:400;margin-bottom:0;padding:0;}
.spc__mobile_pay .mobile-pay-authorized h3{color:#555;font-size:13px;margin:12px 0 14px 0;line-height:13px;}
.spc__mobile_pay .mobile-pay-authorized-method{margin-bottom:24px;color:#20272d;font-size:13px;font-weight:400;display:flex;}
.spc__mobile_pay .mobile-pay-authorized-method img{height:18px;margin-right:8px;}
.spc__mobile_pay .mobile-pay-btn{width:100%;height:40px;margin-bottom:16px;}
.spc__mobile_pay .google-pay-style{background-color:#000;background-image:url("https://www.gstatic.com/instantbuy/svg/dark_long_gpay.svg");background-origin:content-box;background-position:center;background-repeat:no-repeat;background-size:contain;border:0;border-radius:4px;box-shadow:0 1px 1px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.14);cursor:pointer;padding:11px 24px;}
.spc__mobile_pay .spc__box{padding-top:20px;}
.cc__back-to-existing{position:absolute;top:3px;right:0;}
.cc__back-to-existing button{background:none;border:none;font-weight:500;margin:0;padding:0!important;}
.cc__back-to-existing button:focus,.cc__back-to-existing button:hover{padding:0!important;}
.cc__back-to-existing button{font-weight:700;color:#a9a9a9;text-decoration:underline;}
.cc__learn_more_cc_save{color:#a9a9a9;font-weight:700;margin-left:10px;text-decoration:underline;}
.cc__label{display:block;}
.cc .form-group{margin-bottom:26px;position:relative;}
.cc__logos{height:25px;position:absolute;bottom:8px;right:8px;width:40px;}
.cc__logos img{left:0;max-height:100%;opacity:0;position:absolute;top:0;transition:opacity 300ms ease;}
.cc__input{align-items:center;position:relative;margin-bottom:7px;font-size:13px;font-weight:500;letter-spacing:0.6px;background:#fff;border:1px solid #cdd6df;border-radius:4px;color:black;height:40px;padding:0 17px;width:100%;}
.cc__input.StripeElement{opacity:0.6;transition:opacity 300ms ease;}
.cc__input>div{display:block;position:relative;top:50%;transform:translatey(-50%);}
.cc__cvc{height:25px;float:right;position:relative;}
.cc__cvc-icon{border:1px solid rgba(0,0,0,0.2);border-radius:50%;cursor:pointer;height:25px;position:relative;width:25px;}
.cc__cvc-icon::before{content:'?';color:rgba(0,0,0,0.5);font-family:sans-serif;font-size:14px;left:50%;position:absolute;top:50%;transform:translate3d(-50%, -50%, 0);}
.cc__cvc-dialog{background:#fff;bottom:100%;box-shadow:1px 1px 5px rgba(0,0,0,0.15);margin-bottom:15px;padding:15px;position:absolute;right:0;width:250px;z-index:2;opacity:0;pointer-events:none;transition:opacity 200ms ease, visibility 0ms 200ms ease;visibility:hidden;}
@media (min-width: 768px){
.cc__cvc-dialog{bottom:auto;left:100%;margin-bottom:0;margin-left:60px;right:auto;transform:translatey(-50%);top:50%;}
}
.cc__cvc-dialog img{max-width:100%;}
.cc__cvc-checkbox:checked ~ .cc__cvc-dialog{opacity:1;pointer-events:auto;transition:opacity 400ms ease;visibility:visible;}
.cc__cvc-card{margin-bottom:15px;}
.cc__cvc-card:last-of-type{margin-bottom:0;}
.loader{left:50%;height:20px;margin-left:-15px;margin-top:-10px;opacity:0;position:absolute;top:50%;width:30px;}
.loader-line{-webkit-animation:loaderLine 500ms linear infinite alternate;animation:loaderLine 500ms linear infinite alternate;background-color:white;height:100%;position:absolute;top:0;transform-origin:center center;width:2px;}
.loader-line:nth-child(2){-webkit-animation-delay:100ms;animation-delay:100ms;left:33.333%;}
.loader-line:nth-child(3){-webkit-animation-delay:200ms;animation-delay:200ms;left:66.666%;}
.loader-line:nth-child(4){-webkit-animation-delay:300ms;animation-delay:300ms;left:100%;}
.binary-toggle__label{background:transparent;border:0;color:#39719a;margin-bottom:25px;padding:0;}
@media (min-height: 900px){
.only-on-mobile{display:none!important;}
}
/*! CSS Used from: Embedded */
.bottom-menu{position:inherit;}
body{padding-bottom:0!important;}
/*! CSS Used from: https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css */
.fa{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:normal;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-exclamation-circle:before{content:"\f06a";}
/*! CSS Used keyframes */
@-webkit-keyframes loaderLine{0%{transform:scale(0.5);}100%{transform:scale(1);}}
@keyframes loaderLine{0%{transform:scale(0.5);}100%{transform:scale(1);}}
/*! CSS Used fontfaces */
@font-face{font-family:'Proxima';src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regular-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regular-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regular-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regular-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regular-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-style:italic;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regitalic-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regitalic-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regitalic-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regitalic-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-regitalic-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:300;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-light-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-light-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-light-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-light-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-light-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:600;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibold-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibold-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibold-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibold-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibold-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:600;font-style:italic;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibolditalic-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibolditalic-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibolditalic-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-semibolditalic-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:bold;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-bold-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-bold-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-bold-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-bold-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-bold-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:bold;font-style:italic;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-boldit-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-boldit-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-boldit-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-boldit-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-boldit-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'Proxima';font-weight:900;src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-extrabold-webfont.eot?1307578394");src:url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-extrabold-webfont.eot?iefix") format("eot"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-extrabold-webfont.woff?1307578394") format("woff"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-extrabold-webfont.ttf?1307578394") format("truetype"),url("//assets.teachablecdn.com/fonts/proxima-nova/proximanova-extrabold-webfont.svg#webfont2rpW2ohz") format("svg");font-display:swap;}
@font-face{font-family:'FontAwesome';src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot?v=4.1.0');src:url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.eot#iefix&v=4.1.0') format('embedded-opentype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),url('https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
