.add{
    max-height: 1000px !important;
}


/*! CSS Used from: Embedded */
.ng-hide:not(.ng-hide-animate){display:none!important;}
/*! CSS Used from: https://fedora.teachablecdn.com/packs/legacy-8126fa277249c04e853f.css ; media=screen */
@media screen{
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
td{padding:0;}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.pull-left{float:left;}
.fa-search:before{content:"\F002";}
.fa-close:before{content:"\F00D";}
.fa-bars:before{content:"\F0C9";}
.fa-building-o:before{content:"\F0F7";}
.fa-angle-up:before{content:"\F106";}
.fa-angle-down:before{content:"\F107";}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
img{border:0;}
hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
td{padding:0;}
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
tr,img{page-break-inside:avoid;}
img{max-width:100%!important;}
h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
.label{border:1px solid #000;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{font-family:"TeachableSans", Helvetica, Arial, sans-serif;font-size:13px;line-height:1.72222;color:#20272d;background-color:#f5f6f7;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
a{color:#30787d;text-decoration:none;}
a:hover,a:focus{color:#09a59a;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
img{vertical-align:middle;}
hr{margin-top:22px;margin-bottom:22px;border:0;border-top:1px solid #73777b;}
h2,h3,h4{font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h2,h3{margin-top:22px;margin-bottom:11px;}
h4{margin-top:11px;margin-bottom:11px;}
h2{font-size:38px;}
h3{font-size:29px;}
h4{font-size:21px;}
.text-left{text-align:left;}
ul{margin-top:0;margin-bottom:11px;}
.row{margin-right:-15px;margin-left:-15px;}
.row:before,.row:after{display:table;content:" ";}
.row:after{clear:both;}
.col-lg-4,.col-lg-8,.col-xs-12,.col-md-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px;}
.col-xs-12{float:left;}
.col-xs-12{width:100%;}
@media (min-width: 992px){
.col-md-12{float:left;}
.col-md-12{width:100%;}
}
@media (min-width: 1200px){
.col-lg-4,.col-lg-8{float:left;}
.col-lg-4{width:33.33333%;}
.col-lg-8{width:66.66667%;}
}
table{background-color:transparent;}
label{display:inline-block;max-width:100%;margin-bottom:5px;font-weight:700;}
.btn{display:inline-block;margin-bottom:0;font-weight:normal;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;padding:6px 12px;font-size:13px;line-height:1.72222;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:focus,.btn:active:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn:hover,.btn:focus{color:white;text-decoration:none;}
.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
.dropup,.dropdown{position:relative;}
.dropdown-toggle:focus{outline:0;}
.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;font-size:13px;text-align:left;list-style:none;background-color:#fff;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0, 0, 0, .15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0, 0, 0, .175);box-shadow:0 6px 12px rgba(0, 0, 0, .175);}
.dropdown-menu .divider{height:1px;margin:10px 0;overflow:hidden;background-color:#e5e5e5;}
.dropdown-menu > li > a{display:block;padding:3px 20px;clear:both;font-weight:400;line-height:1.72222;color:#333333;white-space:nowrap;}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{color:#262626;text-decoration:none;background-color:#f5f5f5;}
.dropdown-menu-left{right:auto;left:0;}
.dropup .dropdown-menu{top:auto;bottom:100%;margin-bottom:2px;}
.btn-group{position:relative;display:inline-block;vertical-align:middle;}
.btn-group > .dropdown-toggle:not(:first-child){border-top-left-radius:0;border-bottom-left-radius:0;}
.btn-group .dropdown-toggle:active{outline:0;}
.nav{padding-left:0;margin-bottom:0;list-style:none;}
.nav:before,.nav:after{display:table;content:" ";}
.nav:after{clear:both;}
.nav > li{position:relative;display:block;}
.nav > li > a{position:relative;display:block;padding:10px 15px;}
.nav > li > a:hover,.nav > li > a:focus{text-decoration:none;background-color:#eeeeee;}
.nav-stacked > li{float:none;}
.nav-stacked > li + li{margin-top:2px;margin-left:0;}
.label{display:inline;padding:.2em .6em .3em;font-size:75%;font-weight:700;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25em;}
.label:empty{display:none;}
.progress{height:22px;margin-bottom:22px;overflow:hidden;background-color:#f5f5f5;border-radius:4px;-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);box-shadow:inset 0 1px 2px rgba(0, 0, 0, .1);}
.progress-bar{float:left;width:0%;height:100%;font-size:12px;line-height:22px;color:#fff;text-align:center;background-color:#20272d;-webkit-box-shadow:inset 0 -1px 0 rgba(0, 0, 0, .15);box-shadow:inset 0 -1px 0 rgba(0, 0, 0, .15);-webkit-transition:width 0.6s ease;transition:width 0.6s ease;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#161b20;}
.modal-backdrop.in{filter:alpha(opacity=95);opacity:0.95;}
.pull-left{float:left!important;}
@media (max-width: 767px){
.hidden-xs{display:none!important;}
}
@media (min-width: 768px) and (max-width: 991px){
.hidden-sm{display:none!important;}
}
@media (min-width: 992px) and (max-width: 1199px){
.hidden-md{display:none!important;}
}
.icon{font-family:'icomoon'!important;speak:none;font-style:normal;font-weight:normal;-webkit-font-feature-settings:normal;font-feature-settings:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-cog2:before{content:'\E973';}
.icon-envelope:before{content:'\E996';}
.icon-book2:before{content:'\EA14';}
.icon-users:before{content:'\EA22';}
.icon-cash-dollar:before{content:'\EA5A';}
.icon-speed-fast:before{content:'\EB36';}
.icon-rocket:before{content:'\EB37';}
.icon-site-map:before{content:'\EB83';}
.icon-question-circle:before{content:'\EC57';}
.tch-btn-header-primary{color:white;background-color:#ff7f45;border:1px solid #ff7f45;padding:10px 16px!important;font-size:17px;line-height:1.33333;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;min-width:140px;padding-left:30px!important;padding-right:30px!important;max-width:570px;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;}
.tch-btn-header-primary:focus{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:hover{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:active{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:active:hover,.tch-btn-header-primary:active:focus{color:white;background-color:#ff5103;border-color:#f84d00;}
.tch-btn-header-primary:active{background-image:none;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-dropdown{min-width:140px;padding-left:30px!important;padding-right:30px!important;max-width:570px;color:white;background-color:#fff;border:1px solid #a9a9a9;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;border-color:#c8dedd;color:#809196;min-width:0px;}
.tch-btn-header-dropdown:focus{color:white;background-color:#ededed;border-color:#e8e8e8;}
.tch-btn-header-dropdown:hover{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-dropdown:active{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-dropdown:active:hover,.tch-btn-header-dropdown:active:focus{color:white;background-color:#dedede;border-color:#838383;}
.tch-btn-header-dropdown:active{background-image:none;}
.tch-btn-header-dropdown:active,.tch-btn-header-dropdown:hover,.tch-btn-header-dropdown:focus{background:white;border-color:#ff7f45;color:#ff7f45;}
.tch-btn-header-dropdown:active:hover,.tch-btn-header-dropdown:active:focus,.tch-btn-header-dropdown:hover:hover,.tch-btn-header-dropdown:hover:focus,.tch-btn-header-dropdown:focus:hover,.tch-btn-header-dropdown:focus:focus{background:white;border-color:#ff7f45;color:#ff7f45;}
.tch-btn-header-dropdown:focus{outline:0!important;}
.tch-btn-header-dropdown:focus{outline:0!important;}
.tch-btn-header-dropdown:focus{outline:0!important;}
.tch-btn-header-dropdown:focus{outline:0!important;}
.tch-btn-header-icon{color:white;background-color:#fff;border:1px solid #a9a9a9;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;color:#0f8d82;}
.tch-btn-header-icon:focus{color:white;background-color:#ededed;border-color:#e8e8e8;}
.tch-btn-header-icon:hover{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-icon:active{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-icon:active:hover,.tch-btn-header-icon:active:focus{color:white;background-color:#dedede;border-color:#838383;}
.tch-btn-header-icon:active{background-image:none;}
.tch-btn-header-icon:active,.tch-btn-header-icon:hover,.tch-btn-header-icon:focus{background:white;border-color:#ff7f45;color:#ff7f45;}
.tch-btn-header-icon:active:hover,.tch-btn-header-icon:active:focus,.tch-btn-header-icon:hover:hover,.tch-btn-header-icon:hover:focus,.tch-btn-header-icon:focus:hover,.tch-btn-header-icon:focus:focus{background:white;border-color:#ff7f45;color:#ff7f45;}
.tch-btn-header-icon:focus{outline:0!important;}
.tch-btn-header-icon:focus{outline:0!important;}
.tch-dropdown-group-selector{display:inline-block;margin-bottom:0;font-weight:500;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:6px 13px;text-align:left;background:#fff;color:#0f8d82;border-radius:5px;border:1px solid #dbdbdb;-webkit-box-shadow:none!important;box-shadow:none!important;text-transform:none;font-weight:600;font-size:12px!important;}
.tch-dropdown-group-selector:focus,.tch-dropdown-group-selector:active:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.tch-dropdown-group-selector:hover,.tch-dropdown-group-selector:focus{color:white;text-decoration:none;outline:none;}
.tch-dropdown-group-selector:active{outline:0;background-image:none;-webkit-box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);box-shadow:inset 0 3px 5px rgba(0, 0, 0, .125);}
.tch-dropdown-group-selector:hover,.tch-dropdown-group-selector:active,.tch-dropdown-group-selector:focus{background:#fff;color:#1ea69a!important;border:1px solid #1ea69a!important;}
.tch-dropdown-group{float:left;}
.dropdown-menu{-webkit-box-shadow:2px 2px 9px 2px rgba(0, 0, 0, .05);box-shadow:2px 2px 9px 2px rgba(0, 0, 0, .05);border:1px solid #dcdcdc;border-radius:5px;position:absolute;display:block;z-index:1000;background:#fff;opacity:0;pointer-events:none;-webkit-transform:scale(0);transform:scale(0);margin-top:10px;-webkit-transition:opacity 0.3s cubic-bezier(0.23, 1.5, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1);transition:opacity 0.3s cubic-bezier(0.23, 1.5, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1);transition:transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1.5, 0.32, 1);transition:transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1.5, 0.32, 1), -webkit-transform 0.3s cubic-bezier(0.23, 1.5, 0.32, 1);-webkit-transform-origin:0% 0%;transform-origin:0% 0%;max-height:400px;overflow:auto;overflow-x:hidden;min-width:300px;}
.dropdown-menu li a{padding:8px 14px 8px!important;-webkit-transition:none;transition:none;font-size:12px;color:#80848e;font-weight:500;cursor:pointer;display:inline-block;width:100%;text-transform:none;}
.dropdown-menu li > a:hover,.dropdown-menu li > a:active,.dropdown-menu li > a:focus{border-radius:0px;background:#fbfbfb!important;color:#ff7f45!important;}
.dropdown-menu li:first-child > a,.dropdown-menu li:first-child > a:active,.dropdown-menu li:first-child > a:focus{border-top:0;padding-bottom:7px;padding-top:9px;}
.dropdown-menu li:first-child > a,.dropdown-menu li:last-child > a:hover,.dropdown-menu li:last-child > a:active,.dropdown-menu li:last-child > a:focus{border-bottom:0;padding-bottom:8px;}
.dropdown-menu.dropdown-menu-left{-webkit-transform-origin:0% 0%;transform-origin:0% 0%;}
.btn-group{vertical-align:0px;}
.modal-backdrop{z-index:1040;background-color:#161b20;}
.modal-backdrop.in{filter:alpha(opacity=95);opacity:0.95;}
.modal-backdrop{opacity:0.66!important;}
[data-ng-show='filepickerModalOpen']{opacity:1!important;z-index:2000!important;}
label{font-weight:normal;line-height:2.4;font-size:16px;color:#808080;line-height:30px;font-weight:600;margin-bottom:12px;}
.growl{position:fixed;margin:0px 0px 0px -225px;z-index:100000!important;display:inline-block;bottom:10px;right:20px;width:auto;text-align:left;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end;-webkit-transition:200ms opacity ease-in-out;transition:200ms opacity ease-in-out;font-family:"TeachableSans", Helvetica, Arial, sans-serif;}
h2,h3,h4{font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h2.tch-subheading{font-weight:600;font-size:15px;letter-spacing:0.1px;margin-bottom:20px;color:#545665;}
h2,h3{margin-top:22px;margin-bottom:11px;}
h4{margin-top:11px;margin-bottom:11px;}
h2{font-size:38px;}
h3{font-size:29px;}
h4{font-size:21px;}
.text-left{text-align:left;}
ul{margin-top:0;margin-bottom:11px;}
.progress{background:#fdfdfc;border:1px solid #1ea69a;-webkit-box-shadow:2px 2px 0px 0px rgba(0, 0, 0, .04);box-shadow:2px 2px 0px 0px rgba(0, 0, 0, .04);border-radius:32px;height:36px;margin-bottom:0px;}
.progress-bar{color:#fff;background:#1ea69a;line-height:25px;font-weight:bold;line-height:32px;-webkit-box-shadow:none;box-shadow:none;font-size:13px;}
.progress-bar span{padding-left:10px;}
.label{font-size:9px;font-weight:800;letter-spacing:1px;padding:5px 9px;border-radius:2px!important;vertical-align:1px;}
.label-sidebar{color:#20272d;background:#ffffff;margin-right:15px;margin-top:12px;-webkit-box-shadow:1px 1px 1px #545454;box-shadow:1px 1px 1px #545454;font-size:8px;padding:3px 6px;font-weight:700;position:absolute;top:0px;right:0px;}
.admin-sidebar .nav-stacked:last-child{padding-bottom:120px;}
.nav-stacked > li + li{margin-top:0;}
.nav > li > a:focus{background:none;outline:0;}
.tch-pills-wrapper{margin-top:35px;}
.tch-pills-wrapper .tch-pill{width:570px;margin:auto;text-align:left;line-height:80px;font-weight:500;font-size:17px;letter-spacing:0.4px;margin-bottom:15px!important;border:1px solid transparent;display:block;cursor:pointer;position:relative;background:#ffffff;-webkit-box-shadow:1px 2px 3px 0px #e6e9ec;box-shadow:1px 2px 3px 0px #e6e9ec;border-radius:6px;}
.tch-pills-wrapper .tch-pill.full-width{width:95%!important;}
.tch-pills-wrapper .tch-pill img.icon{width:66px;margin-left:27px;margin-right:25px;margin-top:2px;}
.tch-pills-wrapper .tch-pill img.icon.more-faded{opacity:0.2;}
.tch-pills-wrapper .tch-pill span.right-arrow{float:right;padding-right:20px;font-size:30px;font-weight:100;color:#ff7f45;}
.tch-pills-wrapper .tch-pill.pill-completed{color:#b4b4b4;background:rgba(255, 255, 255, .62);pointer-events:none;cursor:default;}
.tch-pills-wrapper .tch-pill:not(.pill-completed):not(.pill-disabled){color:#809196;-webkit-transition:0.1s all ease-in-out;transition:0.1s all ease-in-out;}
.tch-pills-wrapper .tch-pill:not(.pill-completed):not(.pill-disabled):hover{background:#fff9d9;color:#ff7f45;border:1px solid rgba(233, 126, 11, .58);-webkit-box-shadow:1px 1px 0px 1px rgba(195, 195, 195, .45);box-shadow:1px 1px 0px 1px rgba(195, 195, 195, .45);}
.tch-pills-wrapper .tch-pill.pill-disabled{cursor:default;background:rgba(255, 255, 255, .62);color:#b4b4b4;}
.tch-pills-wrapper .tch-pill-sidelink{border-radius:10px;color:#aaabb3;cursor:pointer;display:block;font-size:13px;font-weight:500;margin-top:-78px;padding-left:32px;padding-right:9px;position:absolute;right:60px;text-decoration:underline;z-index:100;}
.tch-pills-wrapper .tch-pill-sidelink:hover{color:#ff7f45;}
@media screen and (max-width: 1000px){
.tch-pills-wrapper .tch-pill{width:90%;}
}
.tch-feed-item{background:#fff;padding:8px 15px;margin-bottom:13px;font-size:12px;letter-spacing:0.48px;font-weight:500;line-height:21px;border-radius:2px;text-align:left;-webkit-box-shadow:1px 1px 1px 0px rgba(0, 0, 0, .04);box-shadow:1px 1px 1px 0px rgba(0, 0, 0, .04);}
.tch-feed-item.event-placeholder{padding:13px 18px 18px 47px;border-left:3px solid lightpink;}
.tch-feed-item.event-authenticate{border-left:3px solid lightblue;}
.tch-feed-item .tch-arrow{position:absolute;margin-left:-31px;}
.tch-feed-item .feed-bold{font-weight:600!important;color:#20272d!important;}
.tch-feed-item .feed-link{font-weight:400;opacity:0.7;color:#34495e;border-bottom:1px solid #ccc;}
.tch-feed-item .feed-link:hover{color:#000!important;}
.nav{cursor:pointer;}
body{font-family:"TeachableSans", Helvetica, Arial, sans-serif;font-size:13px;line-height:1.72222;color:#20272d;background-color:#f5f6f7;-webkit-font-feature-settings:'ss01' 1;font-feature-settings:'ss01' 1;letter-spacing:0.3px;}
hr{border-color:#dbdbdb;}
a{color:#1ea69a;text-decoration:none;-webkit-transition:0.25s;transition:0.25s;font-weight:500;}
a:hover,a:focus{color:#167b72;text-decoration:none;}
.state-admin{min-width:767px;}
.state-admin .admin-content{padding:30px 40px;position:relative;}
@media screen and (max-width: 1000px){
.state-admin .admin-content{margin-left:0;-webkit-transition:margin 150ms ease-in-out, -webkit-transform 150ms ease-in-out;transition:margin 150ms ease-in-out, -webkit-transform 150ms ease-in-out;transition:transform 150ms ease-in-out, margin 150ms ease-in-out;transition:transform 150ms ease-in-out, margin 150ms ease-in-out, -webkit-transform 150ms ease-in-out;}
.state-admin .tch-btn-hamburger{display:block;}
.state-admin .tch-btn-hamburger i{display:block;}
}
@media screen and (min-width: 1000px){
.admin-content:not(.tch-sidebar-is-collapsed-by-default){-webkit-transform:none!important;transform:none!important;margin-left:225px!important;}
.admin-content:not(.tch-sidebar-is-collapsed-by-default) .tch-btn-hamburger{display:none!important;}
.admin-content:not(.tch-sidebar-is-collapsed-by-default) .tch-btn-hamburger i{display:none!important;}
}
@media only percy{
.hide-in-percy{visibility:hidden;}
}
.admin-sidebar{color:#eee;width:225px;background-color:#292c44;height:100%;padding-left:0px;padding-right:0px;position:fixed;overflow-x:hidden;overflow-y:auto;z-index:1031;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;top:0;-webkit-overflow-scrolling:touch;-webkit-transition:-webkit-transform 150ms ease-in-out;transition:-webkit-transform 150ms ease-in-out;transition:transform 150ms ease-in-out;transition:transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;}
.admin-sidebar :-webkit-scrollbar,.admin-sidebar :-moz-scrollbar{display:none;}
.admin-sidebar hr{margin-top:10px;margin-bottom:10px;border-color:#404040;width:100%;margin-left:auto;margin-right:auto;}
.admin-sidebar .school-link{display:-webkit-box;display:-ms-flexbox;display:flex;padding:15px 15px 12px 20px;line-height:30px;font-size:15px;font-weight:600;}
.admin-sidebar .school-link a.search-icon{color:#fff;cursor:pointer;display:block;margin-left:auto;margin-right:5px;opacity:0.7;float:right;}
.admin-sidebar .school-link a.search-icon:hover{opacity:1;}
.admin-sidebar .school-link a.school-link-name{color:#eee;max-height:40px;text-overflow:ellipsis;overflow:hidden;margin-top:6px;line-height:19px;}
.admin-sidebar .nav li a{color:rgba(221, 221, 221, .65);font-size:13px;padding:0;-webkit-transition:none;transition:none;width:225px;height:38px;font-weight:500;border-left:3px solid transparent;}
.admin-sidebar .nav li a:hover{color:#fff!important;background:none;}
.admin-sidebar .nav li a.never-highlight{color:rgba(221, 221, 221, .65)!important;}
.admin-sidebar .nav li a.never-highlight:before{display:none;}
.admin-sidebar .nav li a.text-only{height:30px;}
.admin-sidebar .nav li a.text-only span{padding:0px 14px;line-height:40px;font-size:13px;}
.admin-sidebar .nav li:hover a{color:#fff!important;background-color:#292c44;}
.admin-sidebar .nav li a > i{display:block;-webkit-transition:opacity 150ms ease-in-out;transition:opacity 150ms ease-in-out;float:left;line-height:38px;font-size:19px;width:26px;margin-left:11px;text-align:center;opacity:0.8;}
.admin-sidebar .nav li a .menu-item-label{padding:0 10px;line-height:41px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;opacity:1;font-weight:600;letter-spacing:0.2px;-webkit-transition:opacity 150ms ease-in-out;transition:opacity 150ms ease-in-out;}
.admin-sidebar .nav li:last-child:not(.pin-bottom-level-2){padding-bottom:60px!important;}
.admin-sidebar .nav li .tch-onboarding-sidebar-tooltip{border-radius:50%;border:2px solid #abb4b3;float:right;height:15px;margin-right:19px;margin-top:12px;width:15px;}
.admin-sidebar .nav li .tch-onboarding-sidebar-tooltip:hover{border:2px solid #ff7f45!important;}
.admin-sidebar .navs{-webkit-box-flex:2;-ms-flex-positive:2;flex-grow:2;}
.admin-sidebar .primary-nav{position:absolute;padding-bottom:0!important;height:calc(100% - 60px);}
.admin-sidebar .primary-nav .pin-bottom-level-1{position:absolute;background:#292c44;z-index:1;z-index:1;bottom:46px;padding-bottom:12px;}
.admin-sidebar .primary-nav .pin-bottom-level-2{position:absolute;background:#292c44;z-index:1;bottom:94px;}
.admin-sidebar .primary-nav .pin-bottom-level-3{position:absolute;background:#292c44;z-index:1;bottom:132px;}
.admin-sidebar .primary-nav .pin-bottom.top-border{border-top:1px solid #404040;padding-top:6px;}
.admin-sidebar .primary-nav .hide-on-expand{opacity:1;-webkit-transition:-webkit-transform 150ms ease-in-out;transition:-webkit-transform 150ms ease-in-out;transition:transform 150ms ease-in-out;transition:transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;}
.admin-sidebar .primary-nav .show-on-expand{opacity:0;-webkit-transition:-webkit-transform 150ms ease-in-out;transition:-webkit-transform 150ms ease-in-out;transition:transform 150ms ease-in-out;transition:transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;height:0;}
.admin-sidebar .primary-nav .show-on-expand *{height:0;}
.admin-sidebar .secondary-nav{position:absolute;background-color:#343854;-webkit-transform:translate3d(230px, 0, 0);transform:translate3d(230px, 0, 0);-webkit-transition:-webkit-transform 150ms ease-in-out;transition:-webkit-transform 150ms ease-in-out;transition:transform 150ms ease-in-out;transition:transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;padding-bottom:0!important;width:175px;height:auto;z-index:2;}
.admin-sidebar .secondary-nav .nav-section-title{padding-left:24px;margin-top:19px;margin-left:0;margin-right:0;cursor:default;margin-bottom:3px;}
.admin-sidebar .secondary-nav li:hover a{background:#343854;}
.admin-sidebar .secondary-nav li > a{width:175px;height:35px;}
.admin-sidebar .secondary-nav li > a .menu-item-label{-webkit-transition:opacity 150ms ease-in-out;transition:opacity 150ms ease-in-out;padding:0px 20px;line-height:39px;letter-spacing:0.2px;}
.admin-sidebar .nav-section-title{font-size:11px;margin-left:17px;margin-bottom:4px;margin-right:20px;font-weight:700;letter-spacing:0.6px;text-transform:uppercase;color:#babbc3;}
.admin-sidebar .nav-section-title *{-webkit-transition:none;transition:none;}
.admin-sidebar .nav-section-title a{color:#babbc3;font-weight:600;}
.admin-sidebar .nav-section-title a:hover{color:#fff;}
.admin-sidebar .nav-section-title .plus{float:right;color:#b2bbba;border:1px solid #abb4b3;width:15px;height:15px;font-size:19px;text-align:center;line-height:15px;border-radius:50%;font-weight:400;margin-top:-3px;}
.admin-sidebar .nav-section-title .plus:hover{border-color:#fff;}
.admin-sidebar .misc-buttons{position:fixed;bottom:0;width:225px;z-index:2;}
.admin-sidebar .misc-buttons .myteachable-icon-overlay{margin-left:19px;}
.admin-sidebar .misc-buttons .tch-dropdown-group{width:100%;margin:0;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-toggle{background-color:#212338;border-left:1px solid #343854!important;border-bottom:1px solid #212338!important;float:right;width:35px;color:#fff;text-align:center;font-size:16px!important;font-weight:normal;padding:12px!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-toggle:hover{background-color:#1ea69a;border-bottom-color:#1ea69a!important;color:#fff!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-toggle:hover i.fa{color:#fff!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-toggle i{line-height:30px;color:#fff;margin-top:0px;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-menu{min-width:225px;margin:0px;border-radius:0px;-webkit-box-shadow:-2px 0px 2px 0px rgba(63, 153, 139, .34)!important;box-shadow:-2px 0px 2px 0px rgba(63, 153, 139, .34)!important;-webkit-transform:scale(1, 0.5);transform:scale(1, 0.5);-webkit-transform-origin:82px calc(100% + 5px) 0px;transform-origin:82px calc(100% + 5px) 0px;opacity:0;display:block;-webkit-transition:opacity 0.1s ease, -webkit-transform 0.1s ease;transition:opacity 0.1s ease, -webkit-transform 0.1s ease;transition:transform 0.1s ease, opacity 0.1s ease;transition:transform 0.1s ease, opacity 0.1s ease, -webkit-transform 0.1s ease;pointer-events:none;overflow:auto!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-menu li a{padding:6px 14px 6px!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-menu li a:hover{color:#484440!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-menu:after,.admin-sidebar .misc-buttons .tch-dropdown-group .dropdown-menu:before{content:none;}
.admin-sidebar .misc-buttons .tch-dropdown-group-selector{background-color:#212338;border-radius:0;color:#fff;text-align:center;line-height:31px;width:190px;font-size:13px!important;font-weight:600;border:0;padding:12px!important;}
.admin-sidebar .misc-buttons .tch-dropdown-group-selector .user-name{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.admin-sidebar .misc-buttons .tch-dropdown-group-selector img{border-radius:50%;margin-right:10px;}
.admin-sidebar .misc-buttons .tch-dropdown-group-selector:hover,.admin-sidebar .misc-buttons .tch-dropdown-group-selector:active,.admin-sidebar .misc-buttons .tch-dropdown-group-selector:focus{background-color:#1ea69a;border:none!important;color:#fff!important;}
.admin-sidebar:-webkit-scrollbar,.admin-sidebar:-moz-scrollbar{width:0!important;display:none!important;}
@media screen and (max-width: 1000px){
.state-admin .admin-sidebar{-webkit-transform:translate3d(-226px, 0, 0);transform:translate3d(-226px, 0, 0);}
}
@media screen and (min-width: 1000px){
.admin-sidebar:not(.tch-sidebar-is-collapsed-by-default){-webkit-transform:none!important;transform:none!important;}
}
#filepicker-modal-container{position:fixed;padding:10px;background-color:white;top:0px;bottom:auto;right:auto;left:0px;height:480px;width:100%;max-width:800px;overflow:hidden;border:1px solid #999999;border-radius:3px;margin:0px;-webkit-box-shadow:0px 3px 7px rgba(0, 0, 0, .3);box-shadow:0px 3px 7px rgba(0, 0, 0, .3);z-index:10001;-webkit-box-sizing:content-box;box-sizing:content-box;background-position:50% 50%;background-repeat:no-repeat;}
#filepicker-modal-container .fa-close{position:absolute;top:13px;right:13px;z-index:2000;}
#filepicker-modal-container iframe{width:100%;height:500px;border:none;position:relative;}
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1000;background-color:rgba(0, 0, 0, .66);}
.modal-backdrop{filter:alpha(opacity=8000);opacity:80;}
.state-admin-onboarding{z-index:1031;}
.state-admin-onboarding .admin-sidebar a[ui-sref='admin.dashboard']{color:#fff!important;}
.state-admin-onboarding .tch-school-onboarding-wrapper{text-align:center;}
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-btn-hamburger{left:25px;position:absolute;top:25px;z-index:10000;}
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-school-onboarding-header{color:#fff;height:200px;margin-bottom:12px;margin-left:-40px;margin-right:-40px;margin-top:-30px;padding-top:35px;position:relative;}
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-school-onboarding-header .tch-school-onboarding-header-icons{background:url("//assets.teachablecdn.com/admin/assets/images/welcome-banner.svg") no-repeat;height:200px;position:absolute;background-position:bottom;width:100%;top:0;z-index:1;}
@media screen and (min-width: 1456px){
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-school-onboarding-header .tch-school-onboarding-header-icons{background-size:cover;}
}
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-school-onboarding-header .tch-school-onboarding-header-text{z-index:1000;position:relative;}
.state-admin-onboarding .tch-school-onboarding-wrapper .tch-school-onboarding-header h3{font-weight:600;font-size:21px;color:#47505e;margin-top:15px;margin-bottom:25px;}
.state-admin-onboarding .tch-school-onboarding-wrapper h3{font-weight:600;font-size:28px;}
.state-admin-onboarding .progress{width:95%;margin:auto;height:35px;background:#ffffff;border:0;}
.state-admin-onboarding .progress .progress-bar{-webkit-box-shadow:none;box-shadow:none;color:#fff;font-size:12px;font-weight:bold;line-height:36px;}
.no-margin{margin:0!important;}
.space::before{content:'\A0';}
.tch-arrow{background:url("//assets.teachablecdn.com/admin/assets/images/tch-arrow.svg") no-repeat;width:24px;height:20px;margin-top:4px;background-size:19px;}
.text-left{text-align:left!important;}
.full-width{max-width:100%;}
.text-left{text-align:left;}
.myteachable-icon-overlay{position:absolute;margin-top:17px;background-image:url("//assets.teachablecdn.com/icons/teachable-icon.png");width:15px;height:15px;background-size:15px;display:block;margin-left:49px;}
.dropup ul.dropdown-menu{-webkit-transform-origin:bottom;transform-origin:bottom;}
html body .text-center-xs{text-align:center;}
html body .p-0-xs{padding:0;}
html body .p-h-2-xs{padding-left:8px;padding-right:8px;}
html body .p-v-2-xs{padding-top:8px;padding-bottom:8px;}
html{-webkit-box-sizing:border-box;box-sizing:border-box;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
html{font-size:10px;}
.btn{font-family:'TeachableSans', sans-serif;}
.btn-text{font-size:12px;font-size:1.2rem;line-height:20px;line-height:2rem;letter-spacing:0.4px;letter-spacing:0.04rem;font-weight:600;}
}
/*! CSS Used from: https://fedora.teachablecdn.com/packs/admin-ea9b86608a2a1c71bd59.css ; media=screen */
@media screen{
.Button{height:40px;border-radius:30px;cursor:pointer;max-width:570px;min-width:140px;-webkit-transition:opacity 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;transition:opacity 0.3s, color 0.3s, background-color 0.3s, border-color 0.3s;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;background-image:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;display:inline-block;}
.Button:active{-webkit-box-shadow:none;box-shadow:none;}
.Button-text{border:none;width:auto;min-width:auto;font-weight:300;color:rgba(115, 124, 132, .6);background-color:transparent;}
.Button-text:hover{text-decoration:underline;color:#737c84;}
.Badge-modules__GuideCenterBadge-3_rNe{z-index:998;cursor:pointer;position:fixed;bottom:24px;right:24px;height:50px;width:50px;background-color:#1ea69a;border-radius:100%;-webkit-box-shadow:0 1px 6px rgba(0, 0, 0, .06), 0 2px 20px rgba(0, 0, 0, .2);box-shadow:0 1px 6px rgba(0, 0, 0, .06), 0 2px 20px rgba(0, 0, 0, .2);opacity:0.8;-webkit-transition:opacity 0.1s ease-in;transition:opacity 0.1s ease-in;}
.Badge-modules__GuideCenterBadge-3_rNe:hover{opacity:1;}
.Badge-modules__GuideCenterBadge-3_rNe .Badge-modules__OpenIcon-1s3RV{position:absolute;top:15px;left:15px;height:20px;width:20px;-webkit-transition:opacity 0.08s linear;transition:opacity 0.08s linear;}
.Badge-modules__GuideCenterBadge-3_rNe .Badge-modules__CloseIcon-3SUSP{position:absolute;top:17.5px;left:17.5px;height:15px;width:15px;-webkit-transform:rotate(-30deg);transform:rotate(-30deg);-webkit-transition:opacity 0.08s linear, -webkit-transform 0.16s linear;transition:opacity 0.08s linear, -webkit-transform 0.16s linear;transition:opacity 0.08s linear, transform 0.16s linear;transition:opacity 0.08s linear, transform 0.16s linear, -webkit-transform 0.16s linear;}
.Badge-modules__GuideCenterBadge-3_rNe.Badge-modules__Closed-3ts1V .Badge-modules__OpenIcon-1s3RV{opacity:1;}
.Badge-modules__GuideCenterBadge-3_rNe.Badge-modules__Closed-3ts1V .Badge-modules__CloseIcon-3SUSP{opacity:0;-webkit-transform:rotate(30deg);transform:rotate(30deg);}
.GuideCenter-modules__GuideCenterContainer-1hsxs{z-index:100;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0");src:url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.eot#iefix&v=4.7.0") format("embedded-opentype"), url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("https://fedora.teachablecdn.com/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.ttf") format("truetype");font-weight:500;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.ttf") format("truetype");font-weight:normal;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.ttf") format("truetype");font-weight:bold;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.ttf") format("truetype");font-weight:bold;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.ttf") format("truetype");font-weight:600;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.ttf") format("truetype");font-weight:500;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.ttf") format("truetype");font-weight:600;font-style:italic;}
@font-face{font-family:'icomoon';src:url("https://fedora.teachablecdn.com/fonts/icomoon/icomoon.eot?b1izvc");src:url("https://fedora.teachablecdn.com/fonts/icomoon/icomoon.eot?b1izvc#iefix") format("embedded-opentype"), url("https://fedora.teachablecdn.com/fonts/icomoon/icomoon.ttf?b1izvc") format("truetype"), url("https://fedora.teachablecdn.com/fonts/icomoon/icomoon.woff?b1izvc") format("woff"), url("https://fedora.teachablecdn.com/fonts/icomoon/icomoon.svg?b1izvc#icomoon") format("svg");font-weight:normal;font-style:normal;}








/*barre status session flash*/

/*! CSS Used from: http://localhost:8000/css/admin/menu-school.css */
@media screen{
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
}
@media screen{
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
}
/*! CSS Used from: https://www.w3schools.com/w3css/4/w3.css */
*,*:before,*:after{box-sizing:inherit;}
:disabled *{pointer-events:none;}
.w3-display-container{position:relative;}
.w3-panel:after,.w3-panel:before{content:"";display:table;clear:both;}
.w3-panel{padding:0.01em 16px;}
.w3-panel{margin-top:16px;margin-bottom:16px;}
.w3-red{color:#fff!important;background-color:#f44336!important;}

/*pour l'éditeur ql editor*/

.ql-editor iframe {
    pointer-events: none;
}


/*
.ql-editor .ql-video {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 390;
}
*/









/*course preview box*/

/*! CSS Used from: https://fedora.teachablecdn.com/packs/legacy-8126fa277249c04e853f.css ; media=screen */
@media screen{
a{background-color:transparent;}
a:active,a:hover{outline:0;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
a,a:visited{text-decoration:underline;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
a{color:#30787d;text-decoration:none;}
a:hover,a:focus{color:#09a59a;text-decoration:underline;}
a:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.row{margin-right:-15px;margin-left:-15px;}
.row:before,.row:after{display:table;content:" ";}
.row:after{clear:both;}
.tch-btn-content-transparent{padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;color:white;background-color:#fff;border:1px solid #939393;background:none;-webkit-box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, .75);box-shadow:inset 0px 0px 0px 1px rgba(255, 255, 255, .75);color:rgba(255, 255, 255, .75);border:none;}
.tch-btn-content-transparent:focus{outline:0!important;}
.tch-btn-content-transparent:focus{outline:0!important;}
.tch-btn-content-transparent:focus{color:white;background-color:#ededed;border-color:#e8e8e8;}
.tch-btn-content-transparent:hover{color:white;background-color:#ededed;border-color:#7c7c7c;}
.tch-btn-content-transparent:active{color:white;background-color:#ededed;border-color:#7c7c7c;}
.tch-btn-content-transparent:active:hover,.tch-btn-content-transparent:active:focus{color:white;background-color:#dedede;border-color:#6d6d6d;}
.tch-btn-content-transparent:active{background-image:none;}
.tch-btn-content-transparent:focus{background:none;-webkit-box-shadow:inset 0px 0px 0px 1px #fff!important;box-shadow:inset 0px 0px 0px 1px #fff!important;color:#fff;}
.tch-btn-content-transparent:active,.tch-btn-content-transparent:hover{background:none;-webkit-box-shadow:inset 0px 0px 0px 1px #fff!important;box-shadow:inset 0px 0px 0px 1px #fff!important;color:#fff;}
.tch-course-card{display:block;width:100%;margin-bottom:8px;}
.tch-course-card .course-name-placeholder{text-align:center;background-color:rgba(255, 255, 255, .11);color:#fff;padding-bottom:20px;}
.tch-course-card .course-name-placeholder .row .placeholder-course-name{padding:19px 25px;background-color:transparent;color:#fff;}
a{color:#1ea69a;text-decoration:none;-webkit-transition:0.25s;transition:0.25s;font-weight:500;}
a:hover,a:focus{color:#167b72;text-decoration:none;}
.admin-sidebar :-webkit-scrollbar,.admin-sidebar :-moz-scrollbar{display:none;}
.admin-sidebar .placeholder-course-name{background:rgba(255, 255, 255, .39);max-height:105px;line-height:21px;background-size:100%;color:#2b3636;text-align:center;vertical-align:middle;font-size:15px;font-weight:700;padding:19px 25px;position:relative;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
}
/*! CSS Used from: Embedded */
.FocusFixer-module_usingMouse__1zr_y :focus{outline:none;}
/*! CSS Used from: Embedded */
.FocusFixer-module_usingMouse__1zr_y :focus{outline:none;}



/*style popup*/

/*! CSS Used from: https://fedora.teachablecdn.com/packs/legacy-79e90a8f89fd85fce9ba.css ; media=screen */
@media screen{
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
button{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner{border:0;padding:0;}
@media print{
*,*:before,*:after{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
p{orphans:3;widows:3;}
}
*{-webkit-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
button{font-family:inherit;font-size:inherit;line-height:inherit;}
h4{font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h4{margin-top:11px;margin-bottom:11px;}
h4{font-size:21px;}
p{margin:0 0 11px;}
.fade{opacity:0;-webkit-transition:opacity 0.15s linear;transition:opacity 0.15s linear;}
.fade.in{opacity:1;}
.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;}
.modal.fade .modal-dialog{-webkit-transform:translate(0, -25%);transform:translate(0, -25%);-webkit-transition:-webkit-transform 0.3s ease-out;transition:-webkit-transform 0.3s ease-out;transition:transform 0.3s ease-out;transition:transform 0.3s ease-out, -webkit-transform 0.3s ease-out;}
.modal.in .modal-dialog{-webkit-transform:translate(0, 0);transform:translate(0, 0);}
.modal-open .modal{overflow-x:hidden;overflow-y:auto;}
.modal-dialog{position:relative;width:auto;margin:10px;}
.modal-content{position:relative;background-color:#f7f7f7;background-clip:padding-box;border:1px solid #999;border:1px solid #e9e9ea;border-radius:6px;-webkit-box-shadow:0 3px 9px rgba(0, 0, 0, .5);box-shadow:0 3px 9px rgba(0, 0, 0, .5);outline:0;}
.modal-body{position:relative;padding:15px;}
.modal-footer{padding:15px;text-align:right;border-top:1px solid #e9e9ea;}
.modal-footer:before,.modal-footer:after{display:table;content:" ";}
.modal-footer:after{clear:both;}
@media (min-width: 768px){
.modal-dialog{width:624px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0 5px 15px rgba(0, 0, 0, .5);box-shadow:0 5px 15px rgba(0, 0, 0, .5);}
}
.tch-btn-header-primary{color:white;background-color:#ff7f45;border:1px solid #ff7f45;padding:10px 16px!important;font-size:17px;line-height:1.33333;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;min-width:140px;padding-left:30px!important;padding-right:30px!important;max-width:570px;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;}
.tch-btn-header-primary:focus{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:hover{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:active{color:white;background-color:#ff6621;border-color:#ff5f17;}
.tch-btn-header-primary:active:hover,.tch-btn-header-primary:active:focus{color:white;background-color:#ff5103;border-color:#f84d00;}
.tch-btn-header-primary:active{background-image:none;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-primary:focus{outline:0!important;}
.tch-btn-header-secondary{min-width:140px;padding-left:30px!important;padding-right:30px!important;max-width:570px;color:white;background-color:#fff;border:1px solid #a9a9a9;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;padding:8px 20px 7px 20px!important;font-size:12px;line-height:1.72222;border-radius:3px;font-weight:600!important;display:inline-block;cursor:pointer;font-weight:600;border-radius:30px!important;text-align:center;border-color:#e1e3e4;color:#0f8d82;}
.tch-btn-header-secondary:focus{color:white;background-color:#ededed;border-color:#e8e8e8;}
.tch-btn-header-secondary:hover{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-secondary:active{color:white;background-color:#ededed;border-color:#929292;}
.tch-btn-header-secondary:active:hover,.tch-btn-header-secondary:active:focus{color:white;background-color:#dedede;border-color:#838383;}
.tch-btn-header-secondary:active{background-image:none;}
.tch-btn-header-secondary:active,.tch-btn-header-secondary:hover,.tch-btn-header-secondary:focus{background:#fff;border-color:#1ea69a;color:#1ea69a;}
.tch-btn-header-secondary:active:hover,.tch-btn-header-secondary:active:focus,.tch-btn-header-secondary:hover:hover,.tch-btn-header-secondary:hover:focus,.tch-btn-header-secondary:focus:hover,.tch-btn-header-secondary:focus:focus{background:#fff;border-color:#1ea69a;color:#1ea69a;}
.tch-btn-header-secondary:focus{outline:0!important;}
.tch-btn-header-secondary:focus{outline:0!important;}
.tch-btn-header-secondary:focus{outline:0!important;}
.tch-btn-header-secondary:focus{outline:0!important;}
.modal:before{display:inline-block;vertical-align:middle;content:' ';height:100%;}
.modal-dialog{display:inline-block;text-align:left;vertical-align:middle;-webkit-animation:fadeIn 0.2s ease-out;animation:fadeIn 0.2s ease-out;-webkit-perspective:1000;perspective:1000;}
.modal{z-index:1050;text-align:center;}
.modal .tch-btn-header-primary,.modal .tch-btn-header-secondary{font-size:13px;}
.modal-content{border-radius:7px;background-color:#fff!important;background-clip:padding-box;-webkit-box-shadow:0px 0px 10px -2px #2a2a2a;box-shadow:0px 0px 10px -2px #2a2a2a;border-radius:4px;}
.modal-body{padding:20px 45px 0px 45px;background:#fff;border-radius:5px;}
.modal-body p{font-size:13px;line-height:24px;margin-bottom:21px;text-align:left;color:#67777c;}
.modal-footer{padding:20px 0px 40px;margin-top:0;background-color:#fff;border-top:none;border-radius:0 0 7px 7px;text-align:center;}
.modal-footer.center{text-align:center!important;}
.modal-footer .tch-btn-header-primary,.modal-footer .tch-btn-header-secondary{margin:0px 5px;}
@media (min-width: 768px){
.modal-dialog{width:624px;margin:30px auto;}
.modal-content{-webkit-box-shadow:0px 0px 10px -2px #2a2a2a;box-shadow:0px 0px 10px -2px #2a2a2a;}
}
@media (min-width: 0px) and (max-width: 767px){
.modal-dialog{width:90%!important;}
}
.angular-confirm-text{padding-bottom:3px;border-top-left-radius:10px;border-top-right-radius:10px;padding-top:30px;}
.angular-confirm-text > p{font-size:16px;font-family:"TeachableSans", Helvetica, Arial, sans-serif;}
.modal-footer.angular-confirm-footer{border-top:0px!important;padding-top:0px!important;margin-top:22px!important;text-align:center!important;}
h4{font-family:inherit;font-weight:700;line-height:1.1;color:inherit;}
h4{margin-top:11px;margin-bottom:11px;}
h4{font-size:21px;}
p{margin:0 0 11px;font-size:13px;letter-spacing:0.4px;}
.angular-confirm-text .angular-confirm-title{margin-bottom:25px;text-align:center;}
.angular-confirm-text .angular-confirm-copy{font-size:14px;letter-spacing:0.4px;margin:0;text-align:center;}
*,*:before,*:after{-webkit-box-sizing:inherit;box-sizing:inherit;}
}
/*! CSS Used from: Embedded */
.FocusFixer-module_usingMouse__1zr_y :focus{outline:none;}
/*! CSS Used from: Embedded */
.FocusFixer-module_usingMouse__1zr_y :focus{outline:none;}
/*! CSS Used keyframes */
@-webkit-keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
/*! CSS Used fontfaces */
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-MediumItalic.ttf") format("truetype");font-weight:500;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Italic.ttf") format("truetype");font-weight:normal;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-BoldItalic.ttf") format("truetype");font-weight:bold;font-style:italic;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Bold.ttf") format("truetype");font-weight:bold;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBold.ttf") format("truetype");font-weight:600;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Medium.ttf") format("truetype");font-weight:500;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-Regular.ttf") format("truetype");font-weight:normal;font-style:normal;}
@font-face{font-family:'TeachableSans';src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot");src:url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.woff2") format("woff2"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.woff") format("woff"), url("//assets.teachablecdn.com/fonts/teachable-sans/TeachableSans-SemiBoldItalic.ttf") format("truetype");font-weight:600;font-style:italic;}

/*ifn style popup*/
